@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  -o-scroll-behavior: smooth !important;
  -moz-scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important;
}

@layer components {
  .btn {
    @apply;
  }
}
